<a href="https://colab.research.google.com/github/mostafaelmehi/milestone-2/blob/main/milestone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [342]:
!pip install OpenDatasets

Requirement already satisfied: OpenDatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->OpenDatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->OpenDatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->OpenDatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->OpenDatasets) (3.10)

In [343]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/mahirahmzh/starbucks-customer-retention-malaysia-survey?select=Starbucks+satisfactory+survey.csv")

Skipping, found downloaded files in "./starbucks-customer-retention-malaysia-survey" (use force=True to force download)

In [344]:
import pandas as pd
df = pd.read_csv('/content/starbucks-customer-retention-malaysia-survey/Starbucks satisfactory survey.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 21 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   Timestamp                                                                                                               122 non-null    object
 1   1. Your Gender                                                                                                          122 non-null    object
 2   2. Your Age                                                                                                             122 non-null    object
 3   3. Are you currently....?                                                                                               122 non-null    object
 4   4. What is your annual income?                                                                                          122 non-null    object
 5   5. How often do you visit Starbucks?                                                                                    122 non-null    object
 6   6. How do you usually enjoy Starbucks?                                                                                  121 non-null    object
 7   7. How much time do you normally  spend during your visit?                                                              122 non-null    object
 8   8. The nearest Starbucks's outlet to you is...?                                                                         122 non-null    object
 9   9. Do you have Starbucks membership card?                                                                               122 non-null    object
 10  10. What do you most frequently purchase at Starbucks?                                                                  122 non-null    object
 11  11. On average, how much would you spend at Starbucks per visit?                                                        122 non-null    object
 12  12. How would you rate the quality of Starbucks compared to other brands (Coffee Bean, Old Town White Coffee..) to be:  122 non-null    int64
 13  13. How would you rate the price range at Starbucks?                                                                    122 non-null    int64
 14  14. How important are sales and promotions in your purchase decision?                                                   122 non-null    int64
 15  15. How would you rate the ambiance at Starbucks? (lighting, music, etc...)                                             122 non-null    int64
 16  16. You rate the WiFi quality at Starbucks as..                                                                         122 non-null    int64
 17  17. How would you rate the service at Starbucks? (Promptness, friendliness, etc..)                                      122 non-null    int64
 18  18. How likely you will choose Starbucks for doing business meetings or hangout with friends?                           122 non-null    int64
 19  19. How do you come to hear of promotions at Starbucks? Check all that apply.                                           121 non-null    object
 20  20. Will you continue buying at Starbucks?                                                                              122 non-null    object
dtypes: int64(7), object(14)
memory usage: 20.1+ KB

we donot have any null values

In [345]:
# Shortened and more readable column names
new_column_names = {
    "Timestamp": "timestamp",
    "1. Your Gender": "gender",
    "2. Your Age": "age",
    "3. Are you currently....?": "current_status",
    "4. What is your annual income?": "annual_income",
    "5. How often do you visit Starbucks?": "visit_frequency",
    "6. How do you usually enjoy Starbucks?": "enjoy_method",
    "7. How much time do you normally  spend during your visit?": "visit_duration",
    "8. The nearest Starbucks's outlet to you is...?": "nearest_outlet",
    "9. Do you have Starbucks membership card?": "membership_card",
    "10. What do you most frequently purchase at Starbucks?": "frequent_purchase",
    "11. On average, how much would you spend at Starbucks per visit?": "spend_per_visit",
    "12. How would you rate the quality of Starbucks compared to other brands (Coffee Bean, Old Town White Coffee..) to be:": "quality_rating",
    "13. How would you rate the price range at Starbucks?": "price_rating",
    "14. How important are sales and promotions in your purchase decision?": "sales_importance",
    "15. How would you rate the ambiance at Starbucks? (lighting, music, etc...)": "ambiance_rating",
    "16. You rate the WiFi quality at Starbucks as..": "wifi_rating",
    "17. How would you rate the service at Starbucks? (Promptness, friendliness, etc..)": "service_rating",
    "18. How likely you will choose Starbucks for doing business meetings or hangout with friends?": "meeting_hangout_likelihood",
    "19. How do you come to hear of promotions at Starbucks? Check all that apply.": "promotion_source",
    "20. Will you continue buying at Starbucks?": "continue_buying"
}

# Assuming `df` is your DataFrame
df.rename(columns=new_column_names, inplace=True)

# Display the updated column names
print(df.columns)

Index(['timestamp', 'gender', 'age', 'current_status', 'annual_income',
       'visit_frequency', 'enjoy_method', 'visit_duration', 'nearest_outlet',
       'membership_card', 'frequent_purchase', 'spend_per_visit',
       'quality_rating', 'price_rating', 'sales_importance', 'ambiance_rating',
       'wifi_rating', 'service_rating', 'meeting_hangout_likelihood',
       'promotion_source', 'continue_buying'],
      dtype='object')

In [346]:

df.drop_duplicates(inplace=True)
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
117    False
118    False
119    False
120    False
121    False
Length: 122, dtype: bool

we donot have any null duplicates

In [347]:
df

,timestamp,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,nearest_outlet,membership_card,...,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,meeting_hangout_likelihood,promotion_source,continue_buying
0,2019/10/01 12:38:43 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,within 1km,Yes,...,Less than RM20,4,3,5,5,4,4,3,Starbucks Website/Apps;Social Media;Emails;Dea...,Yes
1,2019/10/01 12:38:54 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,1km - 3km,Yes,...,Less than RM20,4,3,4,4,4,5,2,Social Media;In Store displays,Yes
2,2019/10/01 12:38:56 PM GMT+8,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,more than 3km,Yes,...,Less than RM20,4,3,4,4,4,4,3,In Store displays;Billboards,Yes
3,2019/10/01 12:39:08 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,more than 3km,No,...,Less than RM20,2,1,4,3,3,3,3,Through friends and word of mouth,No
4,2019/10/01 12:39:20 PM GMT+8,Male,From 20 to 29,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,1km - 3km,No,...,Around RM20 - RM40,3,3,4,2,2,3,3,Starbucks Website/Apps;Social Media,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2019/10/04 12:24:26 AM GMT+8,Male,40 and above,Self-employed,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,1km - 3km,Yes,...,Around RM20 - RM40,3,3,5,3,2,4,4,Starbucks Website/Apps;Social Media,Yes
118,2019/10/04 9:30:09 AM GMT+8,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,1km - 3km,Yes,...,More than RM40,5,5,5,5,5,5,5,Starbucks Website/Apps;Social Media;Emails;Dea...,Yes
119,2019/10/04 1:46:07 PM GMT+8,Male,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,1km - 3km,No,...,Less than RM20,3,2,4,3,3,3,4,Social Media;Through friends and word of mouth...,No
120,2019/10/05 11:01:14 AM GMT+8,Female,From 20 to 29,Employed,"Less than RM25,000",Rarely,Take away,Below 30 minutes,within 1km,No,...,Less than RM20,4,4,4,4,4,4,4,Social Media;Through friends and word of mouth...,Yes
121,2019/10/05 4:57:22 PM GMT+8,Male,From 20 to 29,Employed,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,1km - 3km,No,...,Less than RM20,1,1,5,4,3,3,2,In Store displays,No

we remove thi=oese 3 cols as they donot have valuable information for our analysis

In [348]:
df.drop(columns=['timestamp',"nearest_outlet","promotion_source"], inplace=True)

In [349]:
df.drop(columns=['meeting_hangout_likelihood'], inplace=True)

In [350]:
df

,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,Male,From 20 to 29,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Male,40 and above,Self-employed,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,Male,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,Female,From 20 to 29,Employed,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,Male,From 20 to 29,Employed,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [351]:
df['Customer_ID'] = df.index + 1
# Move 'Customer_ID' to the first position
df.insert(0, 'Customer_ID', df.pop('Customer_ID'))

In [352]:
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,1,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,2,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,3,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,4,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,5,Male,From 20 to 29,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,Male,40 and above,Self-employed,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,119,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,120,Male,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,121,Female,From 20 to 29,Employed,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,122,Male,From 20 to 29,Employed,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [353]:
df.isnull()

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
118,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
119,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
120,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

we have just a record with null so we remove it

In [354]:
df.dropna(inplace=True)

then we sould explore our dataset to do data transoformation

In [355]:
df.head()

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,1,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,2,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,3,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,4,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,5,Male,From 20 to 29,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes

In [356]:
df.tail()

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
117,118,Male,40 and above,Self-employed,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,119,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,120,Male,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,121,Female,From 20 to 29,Employed,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,122,Male,From 20 to 29,Employed,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [357]:
df.describe()

,Customer_ID,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,61.330579,3.685950,2.909091,3.818182,3.760331,3.256198,3.752066
std,35.459693,0.913173,1.072381,1.064581,0.931171,0.962020,0.829468
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,31.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000
50%,61.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000
75%,92.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000
max,122.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [358]:
df.age.value_counts()

age
From 20 to 29    84
From 30 to 39    17
Below 20         13
40 and above      7
Name: count, dtype: int64

we will transform the caterogical values to numeric ones to make better for statical purboeses

In [359]:
df['age']=df.age.map(
    {'Below 20':0,'From 20 to 29':1,'From 30 to 39':1,'40 and above':3}
)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,1,Female,1,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,2,Female,1,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,3,Male,1,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,4,Female,1,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,5,Male,1,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,Male,3,Self-employed,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,119,Male,1,Employed,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,120,Male,1,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,121,Female,1,Employed,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,122,Male,1,Employed,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [360]:
df.gender.value_counts()

gender
Female    65
Male      56
Name: count, dtype: int64

In [361]:
df['gender'] = df.gender.map(
    {'Male':0,'Female':1}
)

In [362]:
df.current_status.value_counts()

current_status
Employed         60
Student          42
Self-employed    17
Housewife         2
Name: count, dtype: int64

In [363]:
df['current_status'] = df.current_status.map(
    {'Employed':0,'Student':1,'Self-employed':2,'Housewife':3}
)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,1,1,1,1,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,2,1,1,1,"Less than RM25,000",Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,3,0,1,0,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,4,1,1,1,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,5,0,1,1,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,"RM25,000 - RM50,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,119,0,1,0,"Less than RM25,000",Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,120,0,1,1,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,121,1,1,0,"Less than RM25,000",Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,122,0,1,0,"RM50,000 - RM100,000",Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [364]:
df.annual_income.value_counts()

annual_income
Less than RM25,000       70
RM25,000 - RM50,000      25
RM50,000 - RM100,000     17
More than RM150,000       6
RM100,000 - RM150,000     3
Name: count, dtype: int64

In [365]:
df['annual_income'] = df.annual_income.map(
    {
        'Less than RM25,000':0,
        'RM25,000 - RM50,000':1,
        'RM50,000 - RM100,000':2,
        'RM100,000 - RM150,000':3,
        'More than RM150,000':4,
    }

)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,frequent_purchase,spend_per_visit,quality_rating,price_rating,sales_importance,ambiance_rating,wifi_rating,service_rating,continue_buying
0,1,1,1,1,0,Rarely,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,5,5,4,4,Yes
1,2,1,1,1,0,Rarely,Take away,Below 30 minutes,Yes,Cold drinks;Pastries,Less than RM20,4,3,4,4,4,5,Yes
2,3,0,1,0,0,Monthly,Dine in,Between 30 minutes to 1 hour,Yes,Coffee,Less than RM20,4,3,4,4,4,4,Yes
3,4,1,1,1,0,Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,2,1,4,3,3,3,No
4,5,0,1,1,0,Monthly,Take away,Between 30 minutes to 1 hour,No,Coffee;Sandwiches,Around RM20 - RM40,3,3,4,2,2,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee,Around RM20 - RM40,3,3,5,3,2,4,Yes
118,119,0,1,0,0,Monthly,Dine in,Between 1 hour to 2 hours,Yes,Coffee;Cold drinks;Juices;Pastries;Sandwiches,More than RM40,5,5,5,5,5,5,Yes
119,120,0,1,1,0,Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee;Cold drinks,Less than RM20,3,2,4,3,3,3,No
120,121,1,1,0,0,Rarely,Take away,Below 30 minutes,No,Coffee,Less than RM20,4,4,4,4,4,4,Yes
121,122,0,1,0,2,Rarely,Dine in,Between 30 minutes to 1 hour,No,Coffee,Less than RM20,1,1,5,4,3,3,No

In [366]:
df.visit_frequency.value_counts()

visit_frequency
Rarely     76
Monthly    26
Weekly      9
Never       8
Daily       2
Name: count, dtype: int64

In [367]:
df['visit_frequency'] = df.visit_frequency.map(
    {
        "Never":0,
         "Rarely":1,
         "Daily":4,
         "Weekly":3,
         "Monthly":2
    }
)

In [368]:
df.enjoy_method.value_counts()

enjoy_method
Take away             49
Dine in               46
Drive-thru            20
never                  2
Never buy              1
I dont like coffee     1
Never                  1
Never                  1
Name: count, dtype: int64

In [369]:
df.drop_duplicates(inplace=True)

In [370]:
print(df['enjoy_method'].unique())

['Dine in' 'Take away' 'Drive-thru' 'never' 'Never buy'
 'I dont like coffee' 'Never' 'Never ']

i found out that i have 2 different values for Never as one of them has a  trailing space , so i must remove it

In [371]:
df['enjoy_method'] = df['enjoy_method'].str.strip()
df.enjoy_method.value_counts()

enjoy_method
Take away             49
Dine in               46
Drive-thru            20
never                  2
Never                  2
Never buy              1
I dont like coffee     1
Name: count, dtype: int64

i must now create a function to make all meanings of never buying from the store as a one unique value

In [372]:
def never_value (enjoy_method):
  if enjoy_method in ['Never', 'Never buy', 'never']:
    return 0
  elif enjoy_method == 'I dont like coffee':
    return 1
  elif enjoy_method == 'Drive-thru' :
    return 2
  elif enjoy_method == 'Dine in' :
    return 3
  elif enjoy_method == 'Take away' :
    return 4

df['enjoy_method'] =df.apply(lambda x :never_value(x.enjoy_method), axis=1 )

In [373]:
df.enjoy_method.value_counts()

enjoy_method
4    49
3    46
2    20
0     5
1     1
Name: count, dtype: int64

In [374]:
df.visit_duration.value_counts()

visit_duration
Below 30 minutes                72
Between 30 minutes to 1 hour    34
Between 1 hour to 2 hours       12
More than 3 hours                2
Between 2 hours to 3 hours       1
Name: count, dtype: int64

In [375]:
df['visit_duration'] = df.visit_duration.map(
    {
       'Below 30 minutes':0,
     'Between 30 minutes to 1 hour':1,
'Between 1 hour to 2 hours':2,
       'Between 2 hours to 3 hours':3,
       'More than 3 hours':4
    })

In [376]:
df.membership_card.value_counts()

membership_card
No     61
Yes    60
Name: count, dtype: int64

In [377]:
df['membership_card'] = df.membership_card.map(
    {
        'No':0,
        'Yes':1
    }
)

In [378]:
df.frequent_purchase.value_counts()

frequent_purchase
Coffee                                           65
Cold drinks                                      25
Coffee;Pastries                                   6
Coffee;Cold drinks                                6
Coffee;Sandwiches                                 3
Pastries                                          2
Cold drinks;Juices;Pastries                       2
Coffee;Pastries;Sandwiches                        1
Coffee;Juices;Pastries;Sandwiches                 1
Cold drinks;Pastries                              1
Coffee;Cold drinks;Pastries;Sandwiches            1
Never                                             1
Jaws chip                                         1
cake                                              1
Cold drinks;Pastries;Sandwiches                   1
Cold drinks;Never                                 1
never                                             1
Nothing                                           1
Coffee;Cold drinks;Juices;Pastries;Sandwiches     1
Name: count, dtype: int64

we will use One-Hot Encoding to have insights into individual items in multi-item rows

In [379]:
df['frequent_purchase'] = df['frequent_purchase'].str.strip().str.lower()
df['frequent_purchase'] = df['frequent_purchase'].replace(['never', 'nothing'], 'never')

In [380]:
#create a df with each item in one column using one hot encoding
df_items_encoded = df['frequent_purchase'].str.get_dummies(sep=';')
#merge them with the origanal dataset
df = pd.concat([df,df_items_encoded],axis=1)
df.drop(columns=['frequent_purchase'],inplace=True)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,service_rating,continue_buying,cake,coffee,cold drinks,jaws chip,juices,never,pastries,sandwiches
0,1,1,1,1,0,1,3,1,1,Less than RM20,...,4,Yes,0,1,0,0,0,0,0,0
1,2,1,1,1,0,1,4,0,1,Less than RM20,...,5,Yes,0,0,1,0,0,0,1,0
2,3,0,1,0,0,2,3,1,1,Less than RM20,...,4,Yes,0,1,0,0,0,0,0,0
3,4,1,1,1,0,1,4,0,0,Less than RM20,...,3,No,0,1,0,0,0,0,0,0
4,5,0,1,1,0,2,4,1,0,Around RM20 - RM40,...,3,Yes,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,Around RM20 - RM40,...,4,Yes,0,1,0,0,0,0,0,0
118,119,0,1,0,0,2,3,2,1,More than RM40,...,5,Yes,0,1,1,0,1,0,1,1
119,120,0,1,1,0,1,3,1,0,Less than RM20,...,3,No,0,1,1,0,0,0,0,0
120,121,1,1,0,0,1,4,0,0,Less than RM20,...,4,Yes,0,1,0,0,0,0,0,0
121,122,0,1,0,2,1,3,1,0,Less than RM20,...,3,No,0,1,0,0,0,0,0,0

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 0 to 121
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       121 non-null    int64
 1   gender            121 non-null    int64
 2   age               121 non-null    int64
 3   current_status    121 non-null    int64
 4   annual_income     121 non-null    int64
 5   visit_frequency   121 non-null    int64
 6   enjoy_method      121 non-null    int64
 7   visit_duration    121 non-null    int64
 8   membership_card   121 non-null    int64
 9   spend_per_visit   121 non-null    object
 10  quality_rating    121 non-null    int64
 11  price_rating      121 non-null    int64
 12  sales_importance  121 non-null    int64
 13  ambiance_rating   121 non-null    int64
 14  wifi_rating       121 non-null    int64
 15  service_rating    121 non-null    int64
 16  continue_buying   121 non-null    object
 17  cake              121 non-null    int64
 18  coffee            121 non-null    int64
 19  cold drinks       121 non-null    int64
 20  jaws chip         121 non-null    int64
 21  juices            121 non-null    int64
 22  never             121 non-null    int64
 23  pastries          121 non-null    int64
 24  sandwiches        121 non-null    int64
dtypes: int64(23), object(2)
memory usage: 24.6+ KB

In [382]:
df["Purchased_Food"] = df['sandwiches'] | df["jaws chip"]
df["Purchased_pastries"] = df['pastries'] | df["cake"]
df = df.drop(columns=['cake', 'pastries',"jaws chip","sandwiches"])
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,ambiance_rating,wifi_rating,service_rating,continue_buying,coffee,cold drinks,juices,never,Purchased_Food,Purchased_pastries
0,1,1,1,1,0,1,3,1,1,Less than RM20,...,5,4,4,Yes,1,0,0,0,0,0
1,2,1,1,1,0,1,4,0,1,Less than RM20,...,4,4,5,Yes,0,1,0,0,0,1
2,3,0,1,0,0,2,3,1,1,Less than RM20,...,4,4,4,Yes,1,0,0,0,0,0
3,4,1,1,1,0,1,4,0,0,Less than RM20,...,3,3,3,No,1,0,0,0,0,0
4,5,0,1,1,0,2,4,1,0,Around RM20 - RM40,...,2,2,3,Yes,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,Around RM20 - RM40,...,3,2,4,Yes,1,0,0,0,0,0
118,119,0,1,0,0,2,3,2,1,More than RM40,...,5,5,5,Yes,1,1,1,0,1,1
119,120,0,1,1,0,1,3,1,0,Less than RM20,...,3,3,3,No,1,1,0,0,0,0
120,121,1,1,0,0,1,4,0,0,Less than RM20,...,4,4,4,Yes,1,0,0,0,0,0
121,122,0,1,0,2,1,3,1,0,Less than RM20,...,4,3,3,No,1,0,0,0,0,0

In [383]:
df.rename(
    columns={
        "coffee":"Purchased_Coffee",
              "cold drinks":"Purchased_Cold_Drinks",
         "juices":"Purchased_Juices",
        "never" :"Purchased_Never"
    }, inplace=True
)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,ambiance_rating,wifi_rating,service_rating,continue_buying,Purchased_Coffee,Purchased_Cold_Drinks,Purchased_Juices,Purchased_Never,Purchased_Food,Purchased_pastries
0,1,1,1,1,0,1,3,1,1,Less than RM20,...,5,4,4,Yes,1,0,0,0,0,0
1,2,1,1,1,0,1,4,0,1,Less than RM20,...,4,4,5,Yes,0,1,0,0,0,1
2,3,0,1,0,0,2,3,1,1,Less than RM20,...,4,4,4,Yes,1,0,0,0,0,0
3,4,1,1,1,0,1,4,0,0,Less than RM20,...,3,3,3,No,1,0,0,0,0,0
4,5,0,1,1,0,2,4,1,0,Around RM20 - RM40,...,2,2,3,Yes,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,Around RM20 - RM40,...,3,2,4,Yes,1,0,0,0,0,0
118,119,0,1,0,0,2,3,2,1,More than RM40,...,5,5,5,Yes,1,1,1,0,1,1
119,120,0,1,1,0,1,3,1,0,Less than RM20,...,3,3,3,No,1,1,0,0,0,0
120,121,1,1,0,0,1,4,0,0,Less than RM20,...,4,4,4,Yes,1,0,0,0,0,0
121,122,0,1,0,2,1,3,1,0,Less than RM20,...,4,3,3,No,1,0,0,0,0,0

In [384]:
df.spend_per_visit.value_counts()

spend_per_visit
Less than RM20        58
Around RM20 - RM40    45
Zero                  11
More than RM40         7
Name: count, dtype: int64

In [385]:
df['spend_per_visit'] =df.spend_per_visit.map(
    {
        "Zero":0,
         "Less than RM20":1,
         "Around RM20 - RM40":2,
         "More than RM40":3

    }
)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,ambiance_rating,wifi_rating,service_rating,continue_buying,Purchased_Coffee,Purchased_Cold_Drinks,Purchased_Juices,Purchased_Never,Purchased_Food,Purchased_pastries
0,1,1,1,1,0,1,3,1,1,1,...,5,4,4,Yes,1,0,0,0,0,0
1,2,1,1,1,0,1,4,0,1,1,...,4,4,5,Yes,0,1,0,0,0,1
2,3,0,1,0,0,2,3,1,1,1,...,4,4,4,Yes,1,0,0,0,0,0
3,4,1,1,1,0,1,4,0,0,1,...,3,3,3,No,1,0,0,0,0,0
4,5,0,1,1,0,2,4,1,0,2,...,2,2,3,Yes,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,2,...,3,2,4,Yes,1,0,0,0,0,0
118,119,0,1,0,0,2,3,2,1,3,...,5,5,5,Yes,1,1,1,0,1,1
119,120,0,1,1,0,1,3,1,0,1,...,3,3,3,No,1,1,0,0,0,0
120,121,1,1,0,0,1,4,0,0,1,...,4,4,4,Yes,1,0,0,0,0,0
121,122,0,1,0,2,1,3,1,0,1,...,4,3,3,No,1,0,0,0,0,0

In [386]:
df.continue_buying.value_counts()

continue_buying
Yes    94
No     27
Name: count, dtype: int64

In [388]:
df['continue_buying'] = df.continue_buying.map(
    {
        "Yes":1,
        "No":0
    }
)

In [389]:
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,ambiance_rating,wifi_rating,service_rating,continue_buying,Purchased_Coffee,Purchased_Cold_Drinks,Purchased_Juices,Purchased_Never,Purchased_Food,Purchased_pastries
0,1,1,1,1,0,1,3,1,1,1,...,5,4,4,NaN,1,0,0,0,0,0
1,2,1,1,1,0,1,4,0,1,1,...,4,4,5,NaN,0,1,0,0,0,1
2,3,0,1,0,0,2,3,1,1,1,...,4,4,4,NaN,1,0,0,0,0,0
3,4,1,1,1,0,1,4,0,0,1,...,3,3,3,NaN,1,0,0,0,0,0
4,5,0,1,1,0,2,4,1,0,2,...,2,2,3,NaN,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,2,...,3,2,4,NaN,1,0,0,0,0,0
118,119,0,1,0,0,2,3,2,1,3,...,5,5,5,NaN,1,1,1,0,1,1
119,120,0,1,1,0,1,3,1,0,1,...,3,3,3,NaN,1,1,0,0,0,0
120,121,1,1,0,0,1,4,0,0,1,...,4,4,4,NaN,1,0,0,0,0,0
121,122,0,1,0,2,1,3,1,0,1,...,4,3,3,NaN,1,0,0,0,0,0

In [390]:
def loyality(visit_frequency,enjoy_method,visit_duration,membership_card):
  if visit_frequency ==0 and enjoy_method ==0 :
    return 0 # non_customer
  elif visit_frequency == 4 :
    return 4 #high loyal customer
  elif visit_frequency ==3  and visit_duration ==1 :
    return 3 # loyal customer
  elif visit_frequency ==1 and membership_card==0 :
    return 1 #not loyal customer
  else :
    return 2 #normal custmer
df["loyal"] = df.apply(lambda x : loyality(x.visit_frequency,x.enjoy_method,x.visit_duration,x.membership_card),axis=1)
df

,Customer_ID,gender,age,current_status,annual_income,visit_frequency,enjoy_method,visit_duration,membership_card,spend_per_visit,...,wifi_rating,service_rating,continue_buying,Purchased_Coffee,Purchased_Cold_Drinks,Purchased_Juices,Purchased_Never,Purchased_Food,Purchased_pastries,loyal
0,1,1,1,1,0,1,3,1,1,1,...,4,4,NaN,1,0,0,0,0,0,2
1,2,1,1,1,0,1,4,0,1,1,...,4,5,NaN,0,1,0,0,0,1,2
2,3,0,1,0,0,2,3,1,1,1,...,4,4,NaN,1,0,0,0,0,0,2
3,4,1,1,1,0,1,4,0,0,1,...,3,3,NaN,1,0,0,0,0,0,1
4,5,0,1,1,0,2,4,1,0,2,...,2,3,NaN,1,0,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,0,3,2,1,2,3,2,1,2,...,2,4,NaN,1,0,0,0,0,0,2
118,119,0,1,0,0,2,3,2,1,3,...,5,5,NaN,1,1,1,0,1,1,2
119,120,0,1,1,0,1,3,1,0,1,...,3,3,NaN,1,1,0,0,0,0,1
120,121,1,1,0,0,1,4,0,0,1,...,4,4,NaN,1,0,0,0,0,0,1
121,122,0,1,0,2,1,3,1,0,1,...,3,3,NaN,1,0,0,0,0,0,1

In [391]:
df.loyal.value_counts()

loyal
2    69
1    43
0     5
3     2
4     2
Name: count, dtype: int64