In [2]:
!pip install OpenDatasets

Collecting OpenDatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (4.66.6)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (1.6.17)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from OpenDatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.32.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->OpenDatasets) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->OpenDatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->OpenDatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->OpenDatasets) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->OpenDatasets) (3.10)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: OpenDatasets
Successfully installed OpenDatasets-0.1.22

In [11]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/mahirahmzh/starbucks-customer-retention-malaysia-survey?select=Starbucks+satisfactory+survey.csv")

Skipping, found downloaded files in "./starbucks-customer-retention-malaysia-survey" (use force=True to force download)

In [12]:
import pandas as pd
df = pd.read_csv('/content/starbucks-customer-retention-malaysia-survey/Starbucks satisfactory survey.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 21 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   Timestamp                                                                                                               122 non-null    object
 1   1. Your Gender                                                                                                          122 non-null    object
 2   2. Your Age                                                                                                             122 non-null    object
 3   3. Are you currently....?                                                                                               122 non-null    object
 4   4. What is your annual income?                                                                                          122 non-null    object
 5   5. How often do you visit Starbucks?                                                                                    122 non-null    object
 6   6. How do you usually enjoy Starbucks?                                                                                  121 non-null    object
 7   7. How much time do you normally  spend during your visit?                                                              122 non-null    object
 8   8. The nearest Starbucks's outlet to you is...?                                                                         122 non-null    object
 9   9. Do you have Starbucks membership card?                                                                               122 non-null    object
 10  10. What do you most frequently purchase at Starbucks?                                                                  122 non-null    object
 11  11. On average, how much would you spend at Starbucks per visit?                                                        122 non-null    object
 12  12. How would you rate the quality of Starbucks compared to other brands (Coffee Bean, Old Town White Coffee..) to be:  122 non-null    int64
 13  13. How would you rate the price range at Starbucks?                                                                    122 non-null    int64
 14  14. How important are sales and promotions in your purchase decision?                                                   122 non-null    int64
 15  15. How would you rate the ambiance at Starbucks? (lighting, music, etc...)                                             122 non-null    int64
 16  16. You rate the WiFi quality at Starbucks as..                                                                         122 non-null    int64
 17  17. How would you rate the service at Starbucks? (Promptness, friendliness, etc..)                                      122 non-null    int64
 18  18. How likely you will choose Starbucks for doing business meetings or hangout with friends?                           122 non-null    int64
 19  19. How do you come to hear of promotions at Starbucks? Check all that apply.                                           121 non-null    object
 20  20. Will you continue buying at Starbucks?                                                                              122 non-null    object
dtypes: int64(7), object(14)
memory usage: 20.1+ KB

we donot have any null values

In [13]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
117    False
118    False
119    False
120    False
121    False
Length: 122, dtype: bool